<div class="row">
	<div class="small-8 columns">
		<h3><%= @user.name %></h3><br>
		Percent Correct: <%= @user.percent_correct %><br>
		Current Streak: <%= @user.current_streak %><br>
	</div>
	<div class="small-4 columns" align="right">
		<%= link_to "Edit Account", edit_user_path(@user), class: "tiny button" %>
	</div>
</div>


<%= render partial: 'partials/bottom_nav' %>