<div class="panel main-content">
	<div class="row">
		<div class="small-3 small-centered columns end">
			<h3>Who Said It?</h3>
		</div>
	</div>
	<div class="row">
		<div class="small-9 small-centered columns end">
			<h1 align="center"><%= @quote.body_of_text %></h1>
		</div>
	</div>
	<div class="row">
		<div class="small-9 small-centered columns end">
			<h6 align="right"><%= link_to "Source", @quote.source, target: "_blank"%>, <%= @quote.date_said %></h6>
		</div>
	</div>

	<div class="row">
		<div class="small-12 small-centered columns end">
			<ul class="small-block-grid-3">
				<!-- need to pass in answer + 2 random candidates -->
				<%#= @threeCandidates %>
				<% @threeCandidates.each do |c| %>
					<li align="center">
						<%= link_to checkAnswer_path(user_answer_id: c.id, correct_answer_id: @quote.candidate_id) do %>
						<%=image_tag(c.image, class: "circle text-center") %>
					<% end %>
					</li>
				<% end %>
			</ul>
			<ul class="small-block-grid-3">
				<% @threeCandidates.each do |c| %>
					<li align="center">
						<a href="#" data-reveal-id=<%= c.safeName %>>
							Who is <%= c.name %>?
						</a>
					</li>
				<% end %>
			</ul>

			<% @threeCandidates.each do |c| %>
				<div id=<%= c.safeName %> class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
				  <%= c.graphic.html_safe %>
				  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-4 small-offset-10 columns">
	<% if logged_in? %>
		<i class="fa fa-fire button disabled round fa-4x small"><%= current_user.current_streak.nil? ? 0 : current_user.current_streak %></i>
	<% end %>
	<%#= link_to leaderboard_path do %>
		<i class="fa fa-trophy button round fa-4x small"></i>
	<%# end %>
	<%= link_to exploreIssues_path do %>
		<i class="fa fa-globe button round fa-4x small"></i>
	<% end %>
	<%= link_to manageLikedQuotes_path do %>
	  <i class="fa fa-star button round fa-4x small"></i>
	<% end %>
	</div>
</div>