<div>
	<!-- WHO SAID IT -->
	<div class="row">
		<div class="small-12 columns">
			<% if logged_in? %>
				<div class="small-2 columns" align="right">
					<div class="button small round" id="streak">
						<span data-tooltip aria-haspopup="true" class="has-tip customTooltip" title="How many you got correct."><%= current_user.number_of_questions_correct %>/<%= current_user.number_of_questions_answered %></i></span>
					</div>
				</div>

				<div class="small-2 columns" align="right">
					<span data-tooltip aria-haspopup="true" class="has-tip customTooltip" title="How many correct in a row.">
					<% streak = current_user.current_streak.nil? ? 0 : current_user.current_streak %>
					<% if streak == 0 %>
						<div class="button small round zerostreak" id="streak">
					<% else %>
						<div class="button small round" id="streak">
					<% end %>
						<%= streak.to_s.strip + " " %><%= image_tag 'flames8.png', id: "flame_icon" %>
						</div>
					</span>
				</div>
			<% end %>
		</div>
	</div>


	<div class="row">
		<div class="small-12 columns" >
			<div class="small-6 small-offset-3 columns">
				<h4 align="center">Issue: <%= @quote.issue.title %></h4>
			</div>
		</div>
	</div>

	<div class="row">
		<!-- QUOTE -->
		<div class="small-12 small-centered columns end">
			<h3 align="center"><%= @quote.body_of_text %></h3>
		</div>
	</div>
		

		<!-- WHEN THE QUOTE WAS SAID -->
	<div class="row">
		<div class="small-9 small-centered columns end">
			<h6 align="right"> - <%= @quote.date_said %></h6>
		</div>
	</div>

	<div class="row" style="padding-top: 30px;">
		<div class="small-12 small-centered columns end">
			<ul class="small-block-grid-3">
				<!-- need to pass in answer + 2 random candidates -->
				<%#= @threeCandidates %>
				<% @threeCandidates.each do |c| %>
					<li align="center">
						<%= link_to checkAnswer_path(user_answer_id: c.id) do %>
							<div style='background-image: url(<%=c.image%>)' class="candidate-image circle"></div>
					<% end %>
					</li>
				<% end %>
			</ul>
			<ul class="small-block-grid-3">
				<% @threeCandidates.each do |c| %>
					<li align="center">
						<strong><a href="#" data-reveal-id=<%= c.safeName %>>
							<%= c.name %> <i class="fa fa-info-circle fa-2x"></i>
						</strong></a>
					</li>
				<% end %>
			</ul>

			<% @threeCandidates.each do |c| %>
				<div id=<%= c.safeName %> class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
				  <%= c.graphic.html_safe %>
				  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
				</div>
			<% end %>
		</div>
	</div>
</div>

<%= render partial: 'partials/bottom_nav' %>