<div>
	<!-- WHO SAID IT -->
	<div class="row">
		<div class="small-12 columns" >
			<div class="small-6 small-offset-3 columns">
				<h4 align="center">Issue: <%= @quote.issue.title %></h4>
			</div>
			<div class="small-1 columns"></div>
			<% if logged_in? %>
				<div class="small-2 columns" align="right">
					<% streak = current_user.current_streak.nil? ? 0 : current_user.current_streak %>
					<% if streak == 0 %>
						<div class="button small round" style="background-color: #CB0059" id="streak">
					<% else %>
						<div class="button small round" id="streak">
					<% end %>
						<%= streak.to_s.strip + " " %><%= image_tag 'flames8.png', id: "flame_icon" %>
						</div>
				</div>
			<% end %>
		</div>
	</div>

	<div class="row">
		<!-- QUOTE -->
		<div class="small-12 small-centered columns end">
			<h3 align="center"><%= @quote.body_of_text %></h3>
		</div>
	</div>
		

		<!-- WHEN THE QUOTE WAS SAID -->
	<div class="row">
		<div class="small-9 small-centered columns end">
			<h6 align="right"> - <%= @quote.date_said %></h6>
		</div>
	</div>

	<div class="row" style="padding-top: 30px;">
		<div class="small-12 small-centered columns end">
			<ul class="small-block-grid-3">
				<!-- need to pass in answer + 2 random candidates -->
				<%#= @threeCandidates %>
				<% @threeCandidates.each do |c| %>
					<li align="center">
						<%= link_to checkAnswer_path(user_answer_id: c.id) do %>
							<div style='background-image: url(<%=c.image%>)' class="candidate-image circle"></div>
					<% end %>
					</li>
				<% end %>
			</ul>
			<ul class="small-block-grid-3">
				<% @threeCandidates.each do |c| %>
					<li align="center">
						<strong><a href="#" data-reveal-id=<%= c.safeName %>>
							<%= c.name %> <i class="fa fa-info-circle fa-2x"></i>
						</strong></a>
					</li>
				<% end %>
			</ul>

			<% @threeCandidates.each do |c| %>
				<div id=<%= c.safeName %> class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
				  <%= c.graphic.html_safe %>
				  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div class="row">
	<!-- <div id="lowerRight" class="small-4 small-offset-10 columns"> -->
	<div id="lowerRight">
			<i data-reveal-id="leaderboard" class="fa fa-trophy button round fa-4x small"></i>
		<%= link_to exploreIssues_path do %>
			<i class="fa fa-globe button round fa-4x small"></i>
		<% end %>
		<% if logged_in? %>
			<%= link_to manageLikedQuotes_path do %>
			  <i class="fa fa-star button round fa-4x small"></i>
			<% end %>
		<% end %>
	</div>
</div>


<div id="leaderboard" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Top Streaks</h2>
  <table id="leaderBoard">
  	<% @leaders.each do |l| %>
  		<tr>
  			<td width="400px"><h5><%= l.name %></h5></td>
  			<td><h5><%= l.current_streak %></h5></td>
  		</tr>
  	<% end %>
  </table>
</div>