<div class="panel main-content">
	<div class="row">
		<div class="small-3 small-centered columns end">
			<h3>Who Said It?</h3>
		</div>
	</div>
	<div class="row">
		<div class="small-9 small-centered columns end">
			<h1 align="center"><%= @quote.body_of_text %></h1>
		</div>
	</div>
	<div class="row">
		<div class="small-9 small-offset-8 columns end">
			<h6><%= link_to "Source", @quote.source, target: "_blank"%>, <%= @quote.date_said %></h6>
		</div>
	</div>
<script type="text/javascript">

</script>
	<div class="row">
		<div class="small-12 small-centered columns end">
			<ul class="small-block-grid-3">
				<!-- need to pass in answer + 2 random candidates -->
				<%#= @threeCandidates %>
				<% @threeCandidates.each do |c| %>
					
					<li style="height:450px; overflow:scroll;"><%= raw(c.graphic) %><%#=image_tag(c.image, class: "circle text-center") %><%#= c.name %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-4 small-offset-10 columns">
	<i class="fa fa-fire button disabled round fa-4x small"></i>
	<%#= link_to leaderboard_path do %>
		<i class="fa fa-trophy button round fa-4x small"></i>
	<%# end %>
	<%= link_to exploreIssues_path do %>
		<i class="fa fa-globe button round fa-4x small"></i>
	<% end %>
	<%= link_to manageLikedQuotes_path do %>
	  <i class="fa fa-star button round fa-4x small"></i>
	<% end %>
	</div>
</div>