<div class="row">
	<div class="small-9 columns">
		<%= @issue.title %>
		<%= render partial: 'issueDetails/'+@issue.title.delete('&').split.join("_").downcase %>
	</div>
	<div class="small-3 columns" style="overflow: scroll; height: 35em;">
		<h5 align="center">Some Quotes By Candidates</h5>
		<% @quotes.each do |q| %>
			<div class='quote'>
				<div class="quote_body">"<%= q.body_of_text %>"</div>
				<div align="right">Like <i class="fa fa-star"></i> </div>
			</div>	
		<% end %>
	</div>
</div>

<div class="row">
	<div class="small-3 small-offset-10 columns">
	<%= link_to game_path do %>
	  <i class="fa fa-comments button round fa-4x small"></i>
	<% end %>
	<%= link_to exploreIssues_path do %>
		<i class="fa fa-globe button round fa-4x small"></i>
	<% end %>
	<%= link_to manageLikedQuotes_path do %>
	  <i class="fa fa-star button round fa-4x small"></i>
	<% end %>
	</div>
</div>