<div class="row">
	<% if @quotes.nil? || @quotes.empty? %>
		<div class="small-10 columns small-offset-1" align="center">
			<h1>Uh oh <i class="fa fa-frown-o"></i>. It doesn't seem like you have any liked quotes. <%= link_to "Explore some quotes?", exploreIssues_path %> </h1>
		</div>
	<% else %>
		<% for i in 0..@candidates.length - 1 %>
			<div class="likedCandidateQuotes">
				<% candidate = @candidateProfiles[i] %>
				<% candidateQuotes = @quotes.map{|q| q if q.candidate_id == candidate.id}.compact %>
				
				<h4><%= candidate.name %> 
					<% if i == 0 && candidateQuotes.length > 1 %>
					 has said the most things that you like.
					<% end %>
				</h4>
				<div>
					<ul>
						<% candidateQuotes.each do |q| %>
							<li><%= q.body_of_text %> <%= q.date_said %>
								<%= link_to dislikeQuote_path(quote: q) do %>
									<i class="fa fa-times" style="color:#CB0059;"></i>
								<% end %>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		<% end %>
	<% end %>
</div>

<div class="row">
	<div class="small-2 small-offset-11 columns">
	<%= link_to game_path do %>
	  <i class="fa fa-comments button round small"></i>
	<% end %>

	<%= link_to exploreIssues_path do %>
	  <i class="fa fa-globe button round small"></i>
	<% end %>
	</div>
</div>