<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>in&#8226;form&#8226;ar&#8226;e</title>

    <%= stylesheet_link_tag    "application" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  <% end %>
  <% if flash[:notice] %>
    <% if params[:correct] == "true" %>
      <div id="hideMe" class="notice success"> <i class="fa fa-check-circle"></i> <%= flash[:notice] %></div>
    <% else %>
      <div id="hideMe" class="notice failure"> <i class="fa fa-times-circle-o"></i> <%= flash[:notice] %></div>
    <% end %>
  <% end %>
  <body>
    <div class="row" id="navbar">
      <%= render partial: 'partials/nav' %>
    </div>
    <div class="panel main-content row">
      <%= yield %>
    </div>
    </div>
  </body>
</html>
